<nav>
    <ul>
        <li class="title">Les Archers de la Bretagne Romantique</li>
        <li><a routerLink="/articles" routerLinkActive="active">Accueil</a></li>
        <li><a routerLink="/presentation" routerLinkActive="active">Présentation</a></li>
        <li><a routerLink="/infos" routerLinkActive="active">Informations</a></li>
        <li><a routerLink="/albums" routerLinkActive="active">Photos</a></li>
        <li class="user"><a routerLink="/login" routerLinkActive="active"><i class="material-icons">perm_identity</i></a></li>
    </ul>
</nav>